.SearchResults {
    width: 100%;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.SearchResults > h5 {
    margin: 0;
    padding: 10px;
    color: #fff;
    background-color: dodgerblue;
}

.resultContainer {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}